#skills{
    display: flex;
    justify-content: center;
    text-align: center;
}

#skills h1 {
    color: #f3d250;
}

.skills-body {
    margin: 10rem;
    width: 75%;
    font-size: 28px;
}

.frontEnd {
    border: 1px solid #f3d250;
    border-radius: 10% / 50%;
    margin: 40px;
    margin-left: 55px;
    padding: 100px;

}

.backEnd {
    border: 1px solid #f3d250;
    border-radius: 10% / 50%;
    margin: 40px;
    margin-right: 55px;
    padding: 100px;
}

.skills-columns {
    color: rgb(207, 204, 204);
}