* {
    margin: 0 auto;
    padding: 5px;
    font-family: 'Raleway';
    line-height: 1.5;
}
body {
    background-color: #142156;
}

.graphic {
    background-image: url("../src/Images/the-move-graphic.png");
    background-color: aliceblue;
}