.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bab2b5;
}

.container h1 {
    font-size: 65px;
}

.container p {
    max-width: 65%;
    font-size: 24px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel-status {
    display: none;
}

.project-links {
    color: #f78888;
    font-size: 20px;
}

.control-next {
    height: 96%;
}

.control-arrow:hover {
    background-color: white;
}

.carousel .control-dots {
   display: none;
}

.carousel .slide 
img {
    width: 50%;
}

.carousel .thumbs-wrapper {
    margin: 0px
}
@media screen and (max-width: 576px) {
    #about-me {
        font-size: 10px;
    }
    .self-img {
        height: 90%;
    }
    }