.projectBox {
    display: flex;
    flex-direction: column;
}

.projectBox h1 {
    margin: 0 auto;
    color: #f78888;
    font-size: 55px;
    margin-bottom: 6%;
}

.project-card {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10%;
}
.project-card p {
    font-size: 20px;
}

/* .project-card:hover {
    
} */
.project-img {
    border-radius: 3%;
    width: 60%;
}

