.projectBox {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.projectBox h1 {
    margin: 0 auto;
    color: #f3d250;
}

.project-card {
    margin: 5px;
}
.project-card a {
    color: #f78888;
    font-size: 1.5em;
    width: 30rem;
    text-decoration: none;
}

#card2 {
    justify-content: flex-end;
}

.overlay {
    bottom: 0; 
    color: #f1f1f1; 
    width: 65%;
    transition: .5s ease;
    opacity:0;
    color: #303c6c;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.repo-img:hover .overlay {
    opacity: 1;
}

.card-img-top:hover {
    width: 105%;
  }
