.projectBox {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.projectBox h1 {
    margin: 0 auto;
    color: #f3d250;
}

.project-card {
    margin: 5px;
    text-align: center;
}
.project-card a {
    color: #f78888;
    font-size: 2em;
    width: 30rem;
}

.overlay {
    bottom: 0; 
    color: #f1f1f1; 
    width: 65%;
    transition: .5s ease;
    opacity:0;
    text-align: center;
    font-size: 25px;
}

.repo-img:hover .overlay {
    opacity: 1;
}

.card-img-top:hover {
    width: 105%;
  }

 .description {
     text-align: left;
     color: rgb(207, 204, 204);
     max-width: 45%;

 }

 .appLink {
     
     text-decoration: none;
 }

 .appLink:hover {
    color: #f3d250;
    border-bottom: 1px solid #f3d250;
 }

 .repo-img:hover {
     border-bottom: none;
 }

 .project-descr {
    margin-top: 8%;
    font-size: 24px;
 }